
Pods/Pods.xcodeproj/xcuserdata/fullstackmachine.xcuserdatad/xcschemes/xcschememanagement.plist
YOUC_Event_Page.xcodeproj/xcuserdata/fullstackmachine.xcuserdatad/xcschemes/xcschememanagement.plist
YOUC_Event_Page.xcworkspace/xcuserdata/fullstackmachine.xcuserdatad/UserInterfaceState.xcuserstate
